* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  color: rgb(82, 82, 82);
}

.MuiInputBase-root {
  border-radius: 17px !important;
}

.recharts-wrapper {
  width: 100% !important;
}

.recharts-surface {
  width: 100% !important;
}

.icon {
  height: 27px;
}
